<!DOCTYPE html>
<html>
<head>
        <title>nextbutton-page</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

a:hover {
  background-color: #ddd;
  color: black;
}



.previous01{
    width:100%;
    padding:20px;
    background-color:red;
    text-align:center;
    font-weight:900;
    color:white;
}
.previousspan{
  color: yellow;
  font-weight:800;
  font-size:25px;
}
</style>
</head>
<body>
<div class="previous01" onclick="location.href='/header'" style="cursor:pointer">&laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo;
<span class="previousspan">CLICK ME TO GO BACK PAGE</span> &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo; &laquo;
</div>

</body>
</html>
